Repository n24q02m/better-notion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

.pre-commit-config.yaml:

# Pre-commit Hooks Configuration
# Installation: https://pre-commit.com/
#
# Quick start:
#   1. Install pre-commit: npm install -g pre-commit
#   2. Install hooks: pre-commit install
#   3. Run manually: pre-commit run --all-files
#
# Bypass checks: git commit --no-verify (use only in emergency)

repos:
  # ============================================================================
  # TypeScript/JavaScript
  # ============================================================================

  # Prettier: Code formatter for JavaScript/TypeScript/JSON
  - repo: local
    hooks:
      - id: prettier
        name: prettier format
        entry: bash -c 'pnpm exec prettier --write "$@"' --
        language: system
        types_or: [javascript, ts, json, markdown, yaml]
        pass_filenames: true

  # ESLint: Linter for JavaScript/TypeScript
  - repo: local
    hooks:
      - id: eslint
        name: eslint lint
        entry: bash -c 'pnpm exec eslint --fix "$@"' --
        language: system
        types: [file]
        files: \.(ts|js)$
        exclude: ^(build|node_modules|dist)/
        pass_filenames: true

  # TypeScript: Type checker
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript type check
        entry: bash -c "pnpm exec tsc --noEmit"
        language: system
        types: [ts]
        pass_filenames: false

  # ============================================================================
  # Common Checks
  # ============================================================================

  # Check for trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        exclude_types: [image]

  # Check for files that would conflict in merge
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: check for merge conflicts

  # Check JSON files are valid
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        name: check JSON files
        types: [json]

  # Check YAML files are valid
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: check YAML files
        types: [yaml]

  # Ensure files end with newline
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        name: fix end of files
        exclude_types: [image]

fix(deps): bump mcp-core to 1.4.3
  bun.lock
  package.json
Due: prettier

fix: persist token + notify relay safely in local-relay mode
  src/credential-state.test.ts
  src/credential-state.ts
  src/relay-setup.test.ts
  src/relay-setup.ts
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix: stdio fallback spawns local HTTP, never hits remote URL
  CLAUDE.md
  src/credential-state.test.ts
  src/credential-state.ts
  src/relay-setup.test.ts
  src/relay-setup.ts
Due: prettier, eslint, typescript-check

chore(release): v2.28.4
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

chore(release): v2.28.5
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: bump @n24q02m/mcp-core to 1.5.1
  package-lock.json
  package.json
Due: prettier

fix: refresh bun.lock for mcp-core 1.5.1 bump
  bun.lock
Due: none

fix: refresh bun.lock after non-major bumps
  bun.lock
Due: none

fix: bump @n24q02m/mcp-core to 1.6.1
  bun.lock
  package.json
Due: prettier

fix: bump @n24q02m/mcp-core to 1.6.1 (#571)
  bun.lock
  package.json
Due: prettier

chore(release): v2.28.6
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: bump @n24q02m/mcp-core to 1.6.2 + return sub from onTokenReceived
  bun.lock
  package.json
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix: bump @n24q02m/mcp-core to 1.6.2 + return sub from onTokenReceived (#573)
  bun.lock
  package.json
  src/transports/http.ts
Due: prettier, eslint, typescript-check

chore(release): v2.28.7
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: mark state=configured in remote-oauth mode
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix: mark state=configured in remote-oauth mode (#574)
  src/transports/http.ts
Due: prettier, eslint, typescript-check

chore(release): v2.28.8
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: bump @n24q02m/mcp-core to 1.6.3 (relay form follow redirect_url)
  bun.lock
  package.json
Due: prettier

fix: bump @n24q02m/mcp-core to 1.6.3 (relay form follow redirect_url) (#576)
  bun.lock
  package.json
Due: prettier

chore(release): v2.28.9
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: sync credential-state after local-relay token save
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix: sync credential-state after local-relay token save (#577)
  src/transports/http.ts
Due: prettier, eslint, typescript-check

chore(release): v2.28.10
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

feat: migrate stdio transport to 1-Daemon architecture (runSmartStdioProxy)
  src/init-server.test.ts
  src/init-server.ts
  src/main.test.ts
  src/main.ts
  src/transports/stdio.test.ts
  src/transports/stdio.ts
Due: prettier, eslint, typescript-check

fix: bump @n24q02m/mcp-core to ^1.7.0 for transport subpath export
  bun.lock
  package.json
Due: prettier

fix: bump @n24q02m/mcp-core to ^1.7.0 for transport subpath export (#583)
  bun.lock
  package.json
Due: prettier

Optimize `parseCalloutBlock` string concatenation (#581)
  src/tools/helpers/markdown.ts
Due: prettier, eslint, typescript-check

fix: regenerate bun.lock after @n24q02m/mcp-core 1.7.5 bump
  bun.lock
Due: none

fix: report per-JWT-sub has_token in remote-oauth config status
  src/credential-state.test.ts
  src/credential-state.ts
  src/tools/composite/config.test.ts
  src/tools/composite/config.ts
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix: report per-JWT-sub has_token in remote-oauth config status (#589)
  src/credential-state.test.ts
  src/credential-state.ts
  src/tools/composite/config.test.ts
  src/tools/composite/config.ts
  src/transports/http.ts
Due: prettier, eslint, typescript-check

chore(release): v2.29.0
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: bump @n24q02m/mcp-core to 1.7.6
  bun.lock
  package.json
Due: prettier

fix: bump @n24q02m/mcp-core to 1.7.6 (#591)
  bun.lock
  package.json
Due: prettier

chore(release): v2.29.1
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: sweep doppler/infisical refs to skret SSM
  CLAUDE.md
Due: prettier

fix: bump @n24q02m/mcp-core to 1.8.0-beta.1 for /mcp session-routing fix
  bun.lock
  package.json
Due: prettier

chore(release): v2.29.2-beta.1
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

🛡️ Sentinel: [HIGH] Fix authorization header leak (#594)
  .jules/sentinel.md
  src/tools/helpers/errors.security.test.ts
  src/tools/helpers/errors.ts
Due: prettier, eslint, typescript-check

feat: add ## E2E section to CLAUDE.md per Task 21 docs rollout
  CLAUDE.md
Due: prettier

feat: add ## E2E section to CLAUDE.md per Task 21 docs rollout (#595)
  CLAUDE.md
Due: prettier
