Repository n24q02m/better-notion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

prettier:
  name: prettier format
  entry: bash -c 'pnpm exec prettier --write "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint lint
  entry: bash -c 'pnpm exec eslint --fix "$@"' --
  language: system
  pass_filenames: true

typescript-check:
  name: typescript type check
  entry: bash -c "pnpm exec tsc --noEmit"
  language: system
  pass_filenames: false

docs: add MCP client keywords to package.json for npm discoverability
  package.json
Due: prettier

fix: shorten server.json description to comply with MCP Registry 100-char limit
  server.json
Due: prettier

fix: add mcpName field for MCP Registry ownership validation
  package.json
Due: prettier

chore(release): v2.12.2
  package.json
Due: prettier

fix: update server.json version dynamically in MCP Registry publish job
  .github/workflows/cd.yml
Due: prettier

chore(release): v2.12.4
  package.json
Due: prettier

fix: keep OCI identifier as latest in MCP Registry publish
  .github/workflows/cd.yml
Due: prettier

fix: add Docker LABEL and re-add OCI package for MCP Registry
  .github/workflows/cd.yml
  Dockerfile
  server.json
Due: prettier

chore(release): v2.12.7
  package.json
Due: prettier

fix: align repo with skill audit findings
  .python-version
Due: none

fix(markdown): parse rich text formatting in table cells (#2)
  src/tools/helpers/markdown.ts
Due: prettier, eslint, typescript-check

fix(properties): handle relation type in convertToNotionProperties (#4)
  src/tools/helpers/properties.ts
Due: prettier, eslint, typescript-check

test(markdown): add tests for unexpanded children in toggle and column_list (#3)
  src/tools/helpers/markdown.test.ts
Due: prettier, eslint, typescript-check

fix(markdown): add HTML comment hints for unexpanded children in toggle and column_list (#3)
  src/tools/helpers/markdown.ts
Due: prettier, eslint, typescript-check

test: add tests for cover shorthand catalog and formatCover helper
  src/tools/helpers/covers.test.ts
  src/tools/helpers/covers.ts
Due: prettier, eslint, typescript-check

feat: support built-in cover shorthand (gradients, solids, museum, NASA)
  src/tools/composite/databases.ts
  src/tools/composite/pages.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

fix: remove text property from mention elements for Notion API compatibility (#1)
  src/tools/helpers/markdown.ts
Due: prettier, eslint, typescript-check

feat: add page mention syntax @[Title](id) (#1)
  src/tools/helpers/markdown.ts
Due: prettier, eslint, typescript-check

test: add column layout and width_ratio tests
  src/tools/helpers/markdown.test.ts
Due: prettier, eslint, typescript-check

docs: add page mention syntax to Rich Text Formatting section
  src/docs/blocks.md
Due: prettier

docs: update icon description in registry and help docs
  src/docs/databases.md
  src/docs/pages.md
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

docs: use `bun run test` instead of `bun test` in contributor docs (#186)
  AGENTS.md
  CONTRIBUTING.md
Due: prettier

⚡ Bolt: Optimize markdown parsing by caching line.trim() (#185)
  src/tools/helpers/markdown.ts
Due: prettier, eslint, typescript-check

feat: column width_ratio support and layout test coverage (#188)
  src/docs/blocks.md
  src/tools/helpers/markdown.test.ts
  src/tools/helpers/markdown.ts
Due: prettier, eslint, typescript-check

fix(markdown): table cells don't parse rich text formatting (#189)
  src/tools/helpers/markdown.test.ts
  src/tools/helpers/markdown.ts
Due: prettier, eslint, typescript-check

fix(properties): handle relation type in convertToNotionProperties (#190)
  src/tools/helpers/properties.test.ts
  src/tools/helpers/properties.ts
Due: prettier, eslint, typescript-check

chore(release): v2.13.0-beta.1
  package.json
Due: prettier

fix: correct callout emoji encoding and add recursive children fetch
  src/tools/composite/blocks.ts
  src/tools/composite/pages.ts
  src/tools/helpers/markdown.test.ts
  src/tools/helpers/markdown.ts
  src/tools/helpers/pagination.test.ts
  src/tools/helpers/pagination.ts
Due: prettier, eslint, typescript-check

feat: smart ID resolution and improved error recovery (Phase 0.5)
  src/tools/composite/databases.test.ts
  src/tools/composite/databases.ts
  src/tools/composite/file-uploads.security.test.ts
  src/tools/composite/file-uploads.ts
  src/tools/composite/users.test.ts
  src/tools/composite/users.ts
  src/tools/composite/workspace.ts
  src/tools/helpers/errors.ts
  src/tools/helpers/id.test.ts
  src/tools/helpers/id.ts
  src/tools/helpers/pagination.test.ts
  src/tools/helpers/pagination.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

chore(release): v2.14.0-beta.1
  package.json
Due: prettier

feat: add icon format detection and cover shorthand support
  biome.json
  src/docs/databases.md
  src/docs/pages.md
  src/tools/composite/databases.ts
  src/tools/composite/pages.ts
  src/tools/helpers/covers.test.ts
  src/tools/helpers/covers.ts
  src/tools/helpers/icons.test.ts
  src/tools/helpers/icons.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

fix(cd): update deploy-cloudrun action SHA
  .github/workflows/cd.yml
Due: prettier

chore(release): v2.15.0-beta.2
  package.json
Due: prettier

fix: add JSON body parser for MCP POST endpoint
  src/transports/http.test.ts
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix(auth): harden multi-user security with PKCE, session binding, and strict IP check
  src/auth/notion-oauth-provider.test.ts
  src/auth/notion-oauth-provider.ts
  src/transports/http.ts
Due: prettier, eslint, typescript-check

style: format test file with biome
  src/auth/notion-oauth-provider.test.ts
Due: prettier, eslint, typescript-check

chore(release): v2.15.2-beta.1
  package.json
Due: prettier

fix(auth): stop logging raw error body from Notion token endpoint
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix: add null safety for Notion API response handling
  src/tools/composite/comments.ts
  src/tools/composite/users.ts
  src/tools/helpers/properties.ts
  src/tools/helpers/richtext.ts
Due: prettier, eslint, typescript-check

fix(ci): fix Qodo PR review for external contributors
  .github/workflows/ci.yml
  .pr_agent.toml
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  eslint: any of: \.(ts|js)$, but not: ^(build|node_modules|dist)/
  typescript-check: any of: \.(ts|mts|cts)$
