Repository n24q02m/better-notion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

prettier:
  name: prettier format
  entry: bash -c 'pnpm exec prettier --write "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint lint
  entry: bash -c 'pnpm exec eslint --fix "$@"' --
  language: system
  pass_filenames: true

typescript-check:
  name: typescript type check
  entry: bash -c "pnpm exec tsc --noEmit"
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  e7aafc15c7bd60f442be9bb362d63f52bbe7ce56
Due: none

chore(release): 1.0.15 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

refactor: update imports to use 'type' for type-only imports and improve code consistency
  .github/workflows/lint.yml
  .mise.toml
  .pre-commit-config.yaml
  .prettierrc
  CONTRIBUTING.md
  README.md
  biome.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/build-cli.js
  src/tools/composite/blocks.ts
  src/tools/composite/comments.ts
  src/tools/composite/databases.ts
  src/tools/composite/pages.ts
  src/tools/composite/search.ts
  src/tools/composite/users.ts
  src/tools/composite/workspace.ts
  src/tools/helpers/markdown.ts
  src/tools/helpers/richtext.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

chore: add pre-commit installation step to README and ensure pre-commit tool version is set in .mise.toml
  .mise.toml
  README.md
Due: prettier

ci: allow auto merge pr
  .github/workflows/release.yml
Due: prettier

docs: remove reference to test files in project structure
  CONTRIBUTING.md
Due: prettier

fix: add publishConfig for public access
  package.json
Due: prettier

Notes added by 'git notes add'
  aa39f05bb0a154758ea8342b6125bb699cc8d916
Due: none

Notes added by 'git notes add'
  4ab5793d84ea06880c9d4a5b7be946b5e526c91c
Due: none

fix: streamline pre-commit hook entries and update README instructions
  .mise.toml
  .pre-commit-config.yaml
  README.md
  package.json
Due: prettier

Notes added by 'git notes add'
  f41d3867526b1dc0ef644a27c713d3e076ec2fe9
Due: none

Notes added by 'git notes add'
  7090e60708ac3674aa9a51d60d4ad58fabbed33e
Due: none

feat: streamline project setup by introducing a `mise run setup` task and updating documentation
  .mise.toml
  README.md
Due: prettier

Notes added by 'git notes add'
  558d8cc7318cb74a4a25edd1ac0da792d99b7502
Due: none

Notes added by 'git notes add'
  ee2b420d826451dfcb0d3da0630c05c11db2b9af
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  75869d41636bb62b997005e4e37bfe0b3e56d67c
Due: none

chore(release): 2.1.0-beta.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  f2331d7885dd7082375368f0c7d54ce8d216b159
Due: none

chore(release): 2.1.0-beta.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  b9153c5cde926b7176878a0ab49ef064a7c2a428
Due: none

Notes added by 'git notes add'
  c44ab92360bcdf708de253bcefdc8f2d1c8e03c7
Due: none

perf: use native ARM64 runner for multi-arch Docker build
  .github/workflows/cd.yml
Due: prettier

Notes added by 'git notes add'
  5b549003d69d5449807f01bbe20a5877b976c07b
Due: none

chore(release): 2.1.0-beta.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  0135f42d9acd6aa5ab66fbb18d8b3a5956f8bda3
Due: none

Notes added by 'git notes add'
  8b92e349a75d4abd23671b9cf7dd721b52a10969
Due: none

chore(release): 2.1.0-beta.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

fix: add --clear flag to uv venv command in mise setup
  .mise.toml
Due: none

chore(release): 2.1.0-beta.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  a02a7d6a4f95fddccae849fd8e8cc6a90a59dacd
Due: none

chore: standardize mise setup and pre-commit config
  .mise.toml
  .pre-commit-config.yaml
  package.json
  scripts/clean-venv.mjs
Due: prettier

chore: standardize mise setup and pre-commit config
  package.json
Due: prettier

fix(cd): auto-resolve merge conflicts in semantic-release managed files
  .github/workflows/cd.yml
Due: prettier

chore(release): 2.1.0-beta.6 [skip ci]
  CHANGELOG.md
Due: prettier

fix(setup): don't fail when venv is locked but unusable
  scripts/clean-venv.mjs
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  eslint: any of: \.(ts|js)$, but not: ^(build|node_modules|dist)/
  typescript-check: any of: \.(ts|mts|cts)$
