Repository n24q02m/better-notion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

prettier:
  name: prettier format
  entry: bash -c 'pnpm exec prettier --write "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint lint
  entry: bash -c 'pnpm exec eslint --fix "$@"' --
  language: system
  pass_filenames: true

typescript-check:
  name: typescript type check
  entry: bash -c "pnpm exec tsc --noEmit"
  language: system
  pass_filenames: false

chore(release): 2.3.7-beta.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  9d58aee9d6bd231eae5c9b9a35717fa602b528aa
Due: none

Notes added by 'git notes add'
  d132c125b77f40642c5d1e02b2ff2f61833793a7
Due: none

Notes added by 'git notes add'
  e4f276c115815ac8fcfe80d239154a263357349a
Due: none

Notes added by 'git notes add'
  f8eec23add1f7f0ed580a0da8a0ac768d5d9341b
Due: none

chore(release): 2.3.7-beta.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

fix(cd): use semantic-release/exec for biome format before git commit
  .github/workflows/cd.yml
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: prettier

Notes added by 'git notes add'
  d7d2e03a4f18e0dca05140ff738293900fe83919
Due: none

Notes added by 'git notes add'
  3a6d93873c42c3bceda8f6a7f85088a408b24e8f
Due: none

chore(release): 2.3.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  2fc039396e8c533ad91e7a3cde9bbb940d95cb65
Due: none

ci: unify CI/CD workflows - clean up and simplify- cd.yml: Use outputs version, simplify manifest creation, remove duplicates
  .github/workflows/cd.yml
Due: prettier

Notes added by 'git notes add'
  43da2e081e14328b2fb55c32ca166eb85c0a8840
Due: none

Notes added by 'git notes add'
  4eefd5511ca2709e4fe1fc3a4d2d7b786ca52f40
Due: none

chore(release): 2.3.11 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  82e2c9dc954e44c08dd5b22da5ebd1c19aa974bf
Due: none

docs: Update README to reflect 8 composite tools, simplify comparison, and enhance clarity.
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
Due: prettier

fix: update Node.js version to 24 in various files and documentation
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .mise.toml
  CONTRIBUTING.md
  Dockerfile
  README.md
  package.json
Due: prettier

Notes added by 'git notes add'
  c29678cca9000db80db335f63a8c75126de3d1a8
Due: none

chore(release): 2.3.7-beta.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  feb49f2b1d452603b28c8f7a01feffb817492263
Due: none

🛡️ Sentinel: [MEDIUM] Fix information leakage in error handling (#11)
  .github/workflows/ci.yml
  .jules/sentinel.md
  src/tools/helpers/errors.test.ts
  src/tools/helpers/errors.ts
Due: prettier, eslint, typescript-check

⚡ Optimize page duplication with batched processing (#6)
  CHANGELOG.md
  package.json
  src/tools/composite/pages.ts
  src/tools/helpers/batch.ts
Due: prettier, eslint, typescript-check

⚡ Optimize page archival performance (#9)
  src/tools/composite/pages.ts
Due: prettier, eslint, typescript-check

⚡ Optimize createDatabasePages performance (#4)
  src/tools/composite/databases.ts
Due: prettier, eslint, typescript-check

⚡ Concurrent Block Deletion in Page Update (#5)
  src/tools/composite/pages.ts
Due: prettier, eslint, typescript-check

⚡ Optimize updateDatabasePages with concurrent processing (#7)
  src/tools/composite/databases.ts
Due: prettier, eslint, typescript-check

⚡ Optimize deleteDatabasePages with concurrent batch processing (#8)
  src/tools/composite/databases.ts
Due: prettier, eslint, typescript-check

fix: remove duplicate import processBatches from batch.ts (#12)
  src/tools/composite/pages.ts
Due: prettier, eslint, typescript-check

fix: remove duplicate import processBatches from batch.ts
  src/tools/composite/pages.ts
Due: prettier, eslint, typescript-check

fix(cd): use GH_PAT for semantic-release to bypass branch protection
  .github/workflows/cd.yml
Due: prettier

fix(cd): use GH_PAT for semantic-release to bypass branch protection (#13)
  .github/workflows/cd.yml
Due: prettier

chore: trigger CD workflow
  README.md
Due: prettier

chore: trigger CD workflow (#14)
  README.md
Due: prettier

refactor(cd): promote-to-stable creates PR instead of direct merge
  .github/workflows/cd.yml
  .gitignore
  .jules/sentinel.md
Due: prettier

refactor(cd): promote-to-stable creates PR instead of direct merge (#16)
  .github/workflows/cd.yml
  .gitignore
  .jules/sentinel.md
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  eslint: any of: \.(ts|js)$, but not: ^(build|node_modules|dist)/
  typescript-check: any of: \.(ts|mts|cts)$
