Repository n24q02m/better-notion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

.pre-commit-config.yaml:

# Pre-commit Hooks Configuration
# Installation: https://pre-commit.com/
#
# Quick start:
#   1. Install pre-commit: npm install -g pre-commit
#   2. Install hooks: pre-commit install
#   3. Run manually: pre-commit run --all-files
#
# Bypass checks: git commit --no-verify (use only in emergency)

repos:
  # ============================================================================
  # TypeScript/JavaScript
  # ============================================================================

  # Prettier: Code formatter for JavaScript/TypeScript/JSON
  - repo: local
    hooks:
      - id: prettier
        name: prettier format
        entry: bash -c 'pnpm exec prettier --write "$@"' --
        language: system
        types_or: [javascript, ts, json, markdown, yaml]
        pass_filenames: true

  # ESLint: Linter for JavaScript/TypeScript
  - repo: local
    hooks:
      - id: eslint
        name: eslint lint
        entry: bash -c 'pnpm exec eslint --fix "$@"' --
        language: system
        types: [file]
        files: \.(ts|js)$
        exclude: ^(build|node_modules|dist)/
        pass_filenames: true

  # TypeScript: Type checker
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript type check
        entry: bash -c "pnpm exec tsc --noEmit"
        language: system
        types: [ts]
        pass_filenames: false

  # ============================================================================
  # Common Checks
  # ============================================================================

  # Check for trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        exclude_types: [image]

  # Check for files that would conflict in merge
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: check for merge conflicts

  # Check JSON files are valid
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        name: check JSON files
        types: [json]

  # Check YAML files are valid
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: check YAML files
        types: [yaml]

  # Ensure files end with newline
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        name: fix end of files
        exclude_types: [image]

feat: stdio-pure + http-multi-user (drop daemon-bridge) (#631)
  bun.lock
  package.json
  src/credential-state.test.ts
  src/credential-state.ts
  src/init-server.test.ts
  src/init-server.ts
  src/main.test.ts
  src/main.ts
  src/tools/composite/config.test.ts
  src/tools/composite/config.ts
  src/tools/registry.ts
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix: setup docs + README reflect stdio-pure architecture
  README.md
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

fix: setup docs + README reflect stdio-pure architecture (#632)
  README.md
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

chore(release): v2.31.0-beta.3
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

feat: pass MCP_RELAY_PASSWORD env to HTTP container
  docker-compose.http.yml
Due: prettier

feat: pass MCP_RELAY_PASSWORD env to HTTP container (#637)
  docker-compose.http.yml
Due: prettier

feat: document MCP_RELAY_PASSWORD edge auth gate
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

feat: bump mcp-core to 1.13.0-beta.7
  bun.lock
  package-lock.json
  package.json
Due: prettier

feat: document MCP_RELAY_PASSWORD edge auth gate (#638)
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

feat: bump mcp-core to 1.13.0-beta.7 (#639)
  bun.lock
  package-lock.json
  package.json
Due: prettier

fix: bump mcp-core to 1.13.0-beta.8 for delegated /login gate
  bun.lock
  package.json
Due: prettier

fix: bump mcp-core to 1.13.0-beta.8 for delegated /login gate (#640)
  bun.lock
  package.json
Due: prettier

fix: bump mcp-core to 1.13.0-beta.9 for /login form shell refactor
  bun.lock
  package.json
Due: prettier

fix: bump mcp-core to 1.13.0-beta.9 for /login form shell refactor (#641)
  bun.lock
  package.json
Due: prettier

chore(release): v2.31.0-beta.6
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: bump mcp-core to 1.13.0 (STABLE)
  bun.lock
  package.json
Due: prettier

feat: add explicit Method overview section to setup docs
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

fix: bump mcp-core to 1.13.0 (STABLE) (#644)
  bun.lock
  package.json
Due: prettier

chore(release): v2.31.0
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

feat: add explicit Method overview section to setup docs (#645)
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

fix: consolidate setup docs body to 3 methods (drop legacy Method 4/5)
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

fix: consolidate setup docs body to 3 methods (drop legacy Method 4/5) (#646)
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

feat: declare userConfig schema and document install prompt
  .claude-plugin/plugin.json
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

feat: declare userConfig schema and document install prompt (#647)
  .claude-plugin/plugin.json
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

feat: document userConfig credential prompts per plugin
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

feat: document userConfig credential prompts per plugin (#649)
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

feat: clarify Method 1 vs Method 3 mutually exclusive (CC scope-by-endpoint)
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

feat: include Method 2 (Docker stdio) in mutual exclusivity rule
  docs/setup-manual.md
  docs/setup-with-agent.md
Due: prettier

perf: hoist callout maps out of helper functions (#651)
  .jules/bolt.md
  src/tools/helpers/markdown.ts
Due: prettier, eslint, typescript-check

chore(release): v2.32.0-beta.1
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: update setup-manual.md refs in error messages to mcp.n24q02m.com
  src/main.ts
Due: prettier, eslint, typescript-check

feat: sync cross-promo section
  README.md
Due: prettier

feat: sync cross-promo section (#688)
  README.md
Due: prettier

feat: add Table of contents heading + auto-generated link list (Spec E Wave 2)
  README.md
Due: prettier

fix: optimize normalizeId fast path with early-return
  .jules/bolt.md
  src/tools/helpers/id.ts
Due: prettier, eslint, typescript-check

fix(deps): refresh bun.lock for non-major bumps
  bun.lock
Due: none

fix: add missing error path test in users tool
  src/tools/composite/users.test.ts
Due: prettier, eslint, typescript-check

feat: add tests for startHttp function in http transport
  src/transports/http.test.ts
Due: prettier, eslint, typescript-check

fix: add error test in documentation resource
  src/tools/registry.test.ts
Due: prettier, eslint, typescript-check

fix: remove redundant duplicate any cast in pages tool
  src/tools/composite/pages.ts
Due: prettier, eslint, typescript-check
