Repository n24q02m/better-notion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

prettier:
  name: prettier format
  entry: bash -c 'pnpm exec prettier --write "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint lint
  entry: bash -c 'pnpm exec eslint --fix "$@"' --
  language: system
  pass_filenames: true

typescript-check:
  name: typescript type check
  entry: bash -c "pnpm exec tsc --noEmit"
  language: system
  pass_filenames: false

fix: remove explicit any cast for properties in pages tool
  src/tools/composite/pages.ts
Due: prettier, eslint, typescript-check

fix: simplify enhanceError error mapping logic
  src/tools/helpers/errors.ts
Due: prettier, eslint, typescript-check

fix: refactor deeply nested blocks-to-markdown conversion
  src/tools/helpers/markdown.ts
Due: prettier, eslint, typescript-check

fix: split overly long formatIcon function in icons helper
  src/tools/helpers/icons.ts
Due: prettier, eslint, typescript-check

fix: improve comments.list 404 error UX with suggestion fallbacks
  src/docs/comments.md
  src/tools/composite/comments.test.ts
  src/tools/composite/comments.ts
  src/tools/helpers/errors.test.ts
  src/tools/helpers/errors.ts
Due: prettier, eslint, typescript-check

chore(release): v2.33.0-beta.1
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix(security): wrap file_uploads responses with XPIA safety markers
  src/tools/helpers/security.test.ts
  src/tools/helpers/security.ts
  src/tools/registry.test.ts
Due: prettier, eslint, typescript-check

fix(security): redact sensitive headers regardless of casing
  src/tools/helpers/errors.security.test.ts
  src/tools/helpers/errors.ts
Due: prettier, eslint, typescript-check

perf(properties): cache p.type and nested arrays in extractPageProperties
  src/tools/helpers/properties.test.ts
  src/tools/helpers/properties.ts
Due: prettier, eslint, typescript-check

chore(release): v2.34.0-beta.1
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix(ci): restore plugin.json formatting after version bump
  .claude-plugin/plugin.json
Due: prettier

fix(deps): regenerate bun.lock and sync biome schema ref
  biome.json
  bun.lock
Due: prettier

fix: redact headers case-insensitively, optimize property extraction (#713)
  .claude-plugin/plugin.json
  package.json
  server.json
  src/tools/helpers/errors.security.test.ts
  src/tools/helpers/errors.ts
  src/tools/helpers/properties.test.ts
  src/tools/helpers/properties.ts
  src/tools/helpers/security.test.ts
  src/tools/helpers/security.ts
  src/tools/registry.test.ts
Due: prettier, eslint, typescript-check

🛡️ Sentinel: [CRITICAL] Fix XPIA Breakout Vulnerability (#720)
  .jules/sentinel.md
  src/tools/helpers/security.test.ts
  src/tools/helpers/security.ts
Due: prettier, eslint, typescript-check

chore(release): v2.33.1-beta.1
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

⚡ Bolt: Extract URL control character regex to module-level constant (#725)
  src/tools/helpers/security.ts
Due: prettier, eslint, typescript-check

⚡ Bolt: Extract URL control character regex to module-level constant (#725)
  bun.lock
  package.json
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix: drop biome-rejected parens in authScope ternary
  src/transports/http.ts
Due: prettier, eslint, typescript-check

⚡ Bolt: [performance improvement] Refactor Array.includes to Set.has in hot paths (#730)
  .jules/bolt.md
  src/tools/composite/blocks.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

fix: regenerate bun.lock to satisfy frozen-lockfile CI check
  bun.lock
Due: none

chore(release): v2.34.1
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: add fork-bomb bootstrap guard to prevent recursive server starts (#754)
  src/main.test.ts
  src/main.ts
Due: prettier, eslint, typescript-check

fix: add isSafeWebUrl security test coverage (#747)
  .jules/sentinel.md
  src/tools/helpers/security.test.ts
Due: prettier, eslint, typescript-check

fix: redact error object to message-only in bootstrap failure log (#741)
  src/main.test.ts
  src/main.ts
Due: prettier, eslint, typescript-check

fix: bump mcp-core to 1.17.0-beta.1 for OAuth refresh_token
  bun.lock
  package.json
Due: prettier

fix: pin mcp-core 1.17.0 (stable OAuth refresh_token)
  bun.lock
  package.json
Due: prettier

chore(release): v2.34.3
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: sync docs with current code (env vars, modes, file structure)
  CLAUDE.md
  README.md
Due: prettier

fix: sync docs with current code (env vars, modes, file structure) (#774)
  CLAUDE.md
  README.md
Due: prettier

fix: repoint dead docs/setup-manual.md link to hosted setup guide
  README.md
Due: prettier

fix: repoint dead docs/setup-manual.md link to hosted setup guide (#775)
  README.md
Due: prettier

fix: pin mcp-core 1.17.2 (stable)
  bun.lock
  package.json
Due: prettier

fix: add tests for suggestFixes in errors.ts
  src/tools/helpers/errors.test.ts
Due: prettier, eslint, typescript-check

fix: add tests for formatIcon in icons.ts
  src/tools/helpers/icons.test.ts
Due: prettier, eslint, typescript-check

fix: add tests for formatCover in covers.ts
  src/tools/helpers/covers.test.ts
Due: prettier, eslint, typescript-check

fix: add tests for convertToNotionProperties fallthrough in properties.ts
  src/tools/helpers/properties.test.ts
Due: prettier, eslint, typescript-check

fix: add tests for isValidNotionId in id.ts
  src/tools/helpers/id.test.ts
Due: prettier, eslint, typescript-check

fix: add tests for createMCPServer in create-server.ts
  src/create-server.test.ts
Due: prettier, eslint, typescript-check

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  eslint: any of: \.(ts|js)$, but not: ^(build|node_modules|dist)/
  typescript-check: any of: \.(ts|mts|cts)$
