Repository n24q02m/better-notion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

prettier:
  name: prettier format
  entry: bash -c 'pnpm exec prettier --write "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint lint
  entry: bash -c 'pnpm exec eslint --fix "$@"' --
  language: system
  pass_filenames: true

typescript-check:
  name: typescript type check
  entry: bash -c "pnpm exec tsc --noEmit"
  language: system
  pass_filenames: false

feat(ci): migrate to Qodo Merge AI Review (Gemini 3 Flash)
  .github/best_practices.md
  .github/workflows/ci.yml
Due: prettier

test: trigger qodo merge with a dummy function
  src/index.ts
Due: prettier, eslint, typescript-check

feat(ci): add ai-review.yml for qodo merge
  .github/workflows/ai-review.yml
Due: prettier

fix(ci): fix bash substitution syntax via direct file write
  .github/workflows/ai-review.yml
Due: prettier

fix(ci): merge ai-review into ci.yml properly
  .github/workflows/ai-review.yml
  .github/workflows/ci.yml
Due: prettier

fix(ci): update model to gemini-1.5-flash for compatibility
  .github/workflows/ci.yml
Due: prettier

fix(ci): fix Qodo Merge env variable dot notation bug
  .github/workflows/ci.yml
Due: prettier

fix(ci): move pr-agent config to .pr_agent.toml
  .github/workflows/ci.yml
  .pr_agent.toml
Due: prettier

test: fresh qodo test
  src/index.ts
Due: prettier, eslint, typescript-check

chore: debug google ai studio model names
  .github/workflows/list-models.yml
Due: prettier

fix(ci): fix Qodo model to gemini-3-flash-preview
  .pr_agent.toml
Due: none

chore: downgrade model to highly stable 2.5-flash
  .pr_agent.toml
Due: none

fix(qodo): remove broken fallback model
  .pr_agent.toml
Due: none

fix(ci): update to supported Gemini 3 and 2.5 flash models
  .pr_agent.toml
Due: none

chore: migrate to 2025-2026 tech stack (bun/biome)
  .dockerignore
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .mise.toml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  Dockerfile
  README.md
  biome.json
  bun.lock
  package.json
  pnpm-lock.yaml
Due: prettier

fix(ci): use bun run test for vitest and remove mise exec from pre-commit hooks
  .github/workflows/ci.yml
Due: prettier

fix(docker): remove unsupported --production flag from bun install
  Dockerfile
Due: none

fix(windows): replace bunx with bun x for cross-platform compatibility
  AGENTS.md
  README.md
Due: prettier

feat(security): validate external URLs to prevent XSS attacks (#169)
  bun.lock
  src/tools/composite/databases.ts
  src/tools/composite/pages.ts
  src/tools/helpers/markdown.ts
  src/tools/helpers/security.ts
Due: prettier, eslint, typescript-check

🛡️ Sentinel: [MEDIUM] Fix sensitive data leakage in validation error responses (#168)
  src/tools/helpers/errors.test.ts
  src/tools/helpers/errors.ts
Due: prettier, eslint, typescript-check

🔒 Security Fix: Prevent information leak in validation errors (#151)
  src/tools/helpers/errors.security.test.ts
  src/tools/helpers/errors.ts
Due: prettier, eslint, typescript-check

fix(security): apply safe url check to markdown links
  .pre-commit-config.yaml
  src/tools/helpers/errors.ts
  src/tools/helpers/markdown.ts
  src/tools/helpers/security.ts
Due: prettier, eslint, typescript-check

fix(perf): Hoist regular expressions in markdown parsing (#171)
  src/tools/helpers/markdown.ts
Due: prettier, eslint, typescript-check

fix(perf): Optimize page content replacement with streaming deletion (#161)
  src/tools/composite/pages.test.ts
  src/tools/composite/pages.ts
Due: prettier, eslint, typescript-check

fix(types): Refactor pages tool to use strict return types (#159)
  fix_registry_test.py
  fix_test_types.py
  refactor_pages.py
  src/tools/composite/pages.test.ts
  src/tools/composite/pages.ts
  src/tools/registry.test.ts
Due: prettier, eslint, typescript-check

test: Add tests for initServer startup logic (#158)
  src/init-server.test.ts
Due: prettier, eslint, typescript-check

fix(types): Add strong typing to databases tool response (#157)
  src/tools/composite/databases.test.ts
  src/tools/composite/databases.ts
  src/tools/registry.test.ts
Due: prettier, eslint, typescript-check

fix(perf): Optimize duplicatePage with parallel fetching (#156)
  src/tools/composite/pages.ts
Due: prettier, eslint, typescript-check

test: Prevent block update with mismatched content type (#154)
  src/tools/composite/blocks.test.ts
  src/tools/composite/blocks.ts
Due: prettier, eslint, typescript-check

test: Improve testing for mixed-type arrays in properties helper (#149)
  src/tools/helpers/properties.test.ts
  src/tools/helpers/properties.ts
Due: prettier, eslint, typescript-check

fix(deps): update non-major dependencies (PR #142)
  .mise.toml
  .python-version
  Dockerfile
  bun.lock
  package.json
Due: prettier

fix(deps): lock file maintenance (PR #145)
  bun.lock
Due: none

fix(deps): update actions/checkout action to v6 (PR #166)
  .github/workflows/ci.yml
Due: prettier

chore(release): v2.11.0
  package.json
Due: prettier

fix: Update Codecov badge in README.md
  README.md
Due: prettier

🛡️ Sentinel: [HIGH] Fix URL validation bypass in isSafeUrl via control characters (#180)
  src/tools/helpers/security.test.ts
  src/tools/helpers/security.ts
Due: prettier, eslint, typescript-check

feat: enhance Phase 5 live test with per-action validation
  test-live-mcp.mjs
Due: prettier

docs: update compatible-with badges - add Antigravity, Gemini CLI, Codex, OpenCode
  README.md
Due: prettier

docs: add server.json and MCP Registry publish step to CD workflow
  .github/workflows/cd.yml
  server.json
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  eslint: any of: \.(ts|js)$, but not: ^(build|node_modules|dist)/
  typescript-check: any of: \.(ts|mts|cts)$
