Repository n24q02m/better-notion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

.pre-commit-config.yaml:

# Pre-commit Hooks Configuration
# Installation: https://pre-commit.com/
#
# Quick start:
#   1. Install pre-commit: npm install -g pre-commit
#   2. Install hooks: pre-commit install
#   3. Run manually: pre-commit run --all-files
#
# Bypass checks: git commit --no-verify (use only in emergency)

repos:
  # ============================================================================
  # TypeScript/JavaScript
  # ============================================================================

  # Prettier: Code formatter for JavaScript/TypeScript/JSON
  - repo: local
    hooks:
      - id: prettier
        name: prettier format
        entry: bash -c 'pnpm exec prettier --write "$@"' --
        language: system
        types_or: [javascript, ts, json, markdown, yaml]
        pass_filenames: true

  # ESLint: Linter for JavaScript/TypeScript
  - repo: local
    hooks:
      - id: eslint
        name: eslint lint
        entry: bash -c 'pnpm exec eslint --fix "$@"' --
        language: system
        types: [file]
        files: \.(ts|js)$
        exclude: ^(build|node_modules|dist)/
        pass_filenames: true

  # TypeScript: Type checker
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript type check
        entry: bash -c "pnpm exec tsc --noEmit"
        language: system
        types: [ts]
        pass_filenames: false

  # ============================================================================
  # Common Checks
  # ============================================================================

  # Check for trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        exclude_types: [image]

  # Check for files that would conflict in merge
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: check for merge conflicts

  # Check JSON files are valid
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        name: check JSON files
        types: [json]

  # Check YAML files are valid
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: check YAML files
        types: [yaml]

  # Ensure files end with newline
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        name: fix end of files
        exclude_types: [image]

chore: migrate from release-please to python-semantic-release v10
  .github/rulesets/main.json
  .github/rulesets/production.json
  .github/scripts/check-ci-cd-status.sh
  .github/scripts/cleanup-release-prs.sh
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .release-please-manifest-beta.json
  .release-please-manifest.json
  release-please-config-beta.json
  release-please-config.json
  semantic-release.toml
Due: prettier

fix(cd): remove build_command from PSR config (not available in PSR container)
  semantic-release.toml
Due: none

fix(cd): add config_file for PSR + checkout for DockerHub description
  .github/workflows/cd.yml
Due: prettier

chore(release): v2.5.6
  package.json
Due: prettier

chore: add UV_LINK_MODE to mise.toml, update release docs to PSR
  .mise.toml
  CONTRIBUTING.md
Due: prettier

feat(tools): add MCP tool annotations to all 8 tools
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

chore(release): v2.6.0-beta.1
  package.json
Due: prettier

chore(release): v2.6.0
  package.json
Due: prettier

fix: schema-aware property conversion and better error details
  src/tools/composite/databases.ts
  src/tools/helpers/errors.ts
  src/tools/helpers/properties.ts
Due: prettier, eslint, typescript-check

chore(release): v2.6.1
  package.json
Due: prettier

docs: add MCP resources URIs to token optimization section
  README.md
Due: prettier

docs: update docker-compose with notion token env var
  docker-compose.yml
Due: prettier

fix: improve users and databases documentation
  docker-compose.yml
  src/docs/databases.md
  src/docs/users.md
Due: prettier

fix: sanitize parent in pages.duplicate and fix docs
  src/docs/databases.md
  src/tools/composite/pages.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

docs: add --name flag to Docker run example
  README.md
Due: prettier

docs: restructure Quick Start with 4 config options
  README.md
Due: prettier

chore(release): v2.6.2
  package.json
Due: prettier

fix: fix workspace filter enum, remove dead code, dynamic version
  README.md
  src/docs/workspace.md
  src/init-server.ts
  src/tools/composite/pages.ts
  src/tools/composite/search.ts
  src/tools/composite/workspace.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

chore(release): v2.6.3
  package.json
Due: prettier

docs: add required annotations to quick start config
  README.md
Due: prettier

docs: sync tool docs with code - add missing params and fix deprecated annotations
  src/docs/databases.md
  src/docs/pages.md
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

docs: add AGENTS.md for AI coding agents
  AGENTS.md
Due: prettier

fix(deps): upgrade ajv to 8.18.0 for ReDoS security patch
  package.json
  pnpm-lock.yaml
Due: prettier

fix(deps): upgrade ajv to 8.18.0 for ReDoS security patch (#76)
  package.json
  pnpm-lock.yaml
Due: prettier

feat: add file_uploads tool, fix live MCP bugs, enhance API coverage
  .vscode/better-notion-mcp.code-workspace
  README.md
  src/docs/blocks.md
  src/docs/comments.md
  src/docs/content_convert.md
  src/docs/databases.md
  src/docs/file_uploads.md
  src/docs/pages.md
  src/tools/composite/blocks.test.ts
  src/tools/composite/comments.test.ts
  src/tools/composite/comments.ts
  src/tools/composite/databases.test.ts
  src/tools/composite/databases.ts
  src/tools/composite/file-uploads.test.ts
  src/tools/composite/file-uploads.ts
  src/tools/composite/pages.test.ts
  src/tools/composite/pages.ts
  src/tools/composite/workspace.ts
  src/tools/helpers/errors.test.ts
  src/tools/helpers/markdown.test.ts
  src/tools/helpers/markdown.ts
  src/tools/helpers/pagination.test.ts
  src/tools/helpers/properties.test.ts
  src/tools/helpers/richtext.test.ts
  src/tools/registry.test.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

feat: add file_uploads tool, fix live MCP bugs, remove webhooks (#114)
  .vscode/better-notion-mcp.code-workspace
  README.md
  src/docs/blocks.md
  src/docs/comments.md
  src/docs/content_convert.md
  src/docs/databases.md
  src/docs/file_uploads.md
  src/docs/pages.md
  src/tools/composite/blocks.test.ts
  src/tools/composite/comments.test.ts
  src/tools/composite/comments.ts
  src/tools/composite/databases.test.ts
  src/tools/composite/databases.ts
  src/tools/composite/file-uploads.test.ts
  src/tools/composite/file-uploads.ts
  src/tools/composite/pages.test.ts
  src/tools/composite/pages.ts
  src/tools/composite/workspace.ts
  src/tools/helpers/errors.test.ts
  src/tools/helpers/markdown.test.ts
  src/tools/helpers/markdown.ts
  src/tools/helpers/pagination.test.ts
  src/tools/helpers/properties.test.ts
  src/tools/helpers/richtext.test.ts
  src/tools/registry.test.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

chore(release): v2.7.0
  package.json
Due: prettier

fix: Remove limitations section from README
  README.md
Due: prettier

fix: add CI status badge to README
  README.md
Due: prettier

feat: add data encapsulation against indirect prompt injection (XPIA)
  src/tools/helpers/security.ts
  src/tools/registry.test.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

fix: standardize repo structure with enforce-commit hook
  .mise.toml
  .pre-commit-config.yaml
  scripts/enforce-commit.sh
Due: prettier

feat: add Codecov coverage upload and CodeRabbit config
  .coderabbit.yaml
  .github/workflows/ci.yml
  vitest.config.ts
Due: prettier, eslint, typescript-check

feat(ci): add StepSecurity Harden-Runner to all workflow jobs (audit mode)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: prettier

feat(ci): add Renovate config for automated dependency updates
  renovate.json
Due: prettier

chore: change Renovate schedule to daily 5am
  renovate.json
Due: prettier

chore: add Gemini Code Assist style guide
  .gemini/styleguide.md
Due: prettier

chore: remove CodeRabbit config, migrating to Gemini Code Assist
  .coderabbit.yaml
Due: prettier

fix(file-uploads): auto-retrieve content_type from upload session in send action
  src/tools/composite/file-uploads.test.ts
  src/tools/composite/file-uploads.ts
Due: prettier, eslint, typescript-check

chore(release): v2.9.0
  package.json
Due: prettier

fix: update README badges with Codecov, tech stack, and engineering standards
  README.md
Due: prettier
