Repository n24q02m/better-notion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

prettier:
  name: prettier format
  entry: bash -c 'pnpm exec prettier --write "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint lint
  entry: bash -c 'pnpm exec eslint --fix "$@"' --
  language: system
  pass_filenames: true

typescript-check:
  name: typescript type check
  entry: bash -c "pnpm exec tsc --noEmit"
  language: system
  pass_filenames: false

fix: update comment reference from mcp-relay-core to mcp-core
  src/relay-setup.test.ts
Due: prettier, eslint, typescript-check

feat: default to HTTP transport, --stdio for backward compat
  src/init-server.test.ts
  src/init-server.ts
Due: prettier, eslint, typescript-check

feat: migrate HTTP transport to mcp-core runLocalServer
  bun.lock
  package.json
  scripts/build-cli.js
  src/auth/notion-oauth-provider.test.ts
  src/auth/notion-oauth-provider.ts
  src/auth/stateless-client-store.test.ts
  src/auth/stateless-client-store.ts
  src/init-server.test.ts
  src/init-server.ts
  src/main.test.ts
  src/relay-schema.ts
  src/transports/http.test.ts
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix: pin @n24q02m/mcp-core to published 1.0.0-beta.3 instead of local editable path
  bun.lock
  package.json
Due: prettier

fix: bump @n24q02m/mcp-core to 1.0.0-beta.4
  bun.lock
  package.json
Due: prettier

fix: force LF line endings in .gitattributes to unblock Windows CI
  .gitattributes
Due: none

fix: add tests for credential state (#459)
  src/credential-state.test.ts
Due: prettier, eslint, typescript-check

fix: add tests for isSafeUrl error path (#460)
  src/tools/helpers/security.test.ts
Due: prettier, eslint, typescript-check

fix: add tests for startServer in main (#474)
  src/main.test.ts
Due: prettier, eslint, typescript-check

fix: optimize parseTable with single-pass manual loop
  src/tools/helpers/markdown.ts
Due: prettier, eslint, typescript-check

fix: loop optimization in extractPlainText
  src/tools/helpers/markdown.ts
Due: prettier, eslint, typescript-check

fix: handle Notion API Object Not Found in comments.list
  src/tools/composite/comments.ts
Due: prettier, eslint, typescript-check

fix: clarify security check comment in isSafeUrl
  src/tools/helpers/security.ts
Due: prettier, eslint, typescript-check

fix: make Notion token error message more actionable
  src/tools/registry.ts
  src/transports/stdio.ts
Due: prettier, eslint, typescript-check

fix: potential path traversal in documentation reading
  src/credential-state.test.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

fix: bump @n24q02m/mcp-core to ^1.0.0 stable
  bun.lock
  package.json
Due: prettier

chore(release): v2.27.0
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: pin better-sqlite3 to ^12.9.0 for Bun prebuild support
  bun.lock
  package.json
Due: prettier

chore(release): v2.27.1
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: pin Bun image to alpine 7ed9f74 for better-sqlite3 compat
  Dockerfile
Due: none

chore(release): v2.27.2
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: install python3+make+g++ for better-sqlite3 source build
  Dockerfile
Due: none

chore(release): v2.27.3
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: remove direct better-sqlite3 dep; add trustedDependencies for Bun script skip
  Dockerfile
  bun.lock
  package.json
Due: prettier

chore(release): v2.27.4
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

chore: ignore AI assistant traces
  .gitignore
Due: none

fix: allow HOST env override for container bind address
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix: sync version files to match v2.27.4 tag for PSR compatibility
  .claude-plugin/plugin.json
  package.json
  server.json
Due: prettier

fix: sync docs with Phase M completion reality
  CLAUDE.md
Due: prettier

fix: ignore coverage.xml and htmlcov artifacts
  .gitignore
Due: none

fix: use mcp-core tryOpenBrowser, remove local duplicate
  src/credential-state.test.ts
  src/credential-state.ts
Due: prettier, eslint, typescript-check

fix: add diacritic preservation pre-commit hook
  .pre-commit-config.yaml
  scripts/preserve-diacritics.py
  scripts/test_preserve_diacritics.py
Due: prettier

fix: sync docs with Phase M completion reality (#536)
  CLAUDE.md
Due: prettier

fix: add diacritic preservation pre-commit hook (#537)
  .pre-commit-config.yaml
  scripts/preserve-diacritics.py
  scripts/test_preserve_diacritics.py
Due: prettier

fix: guard browser launch with isSafeWebUrl against shell flag injection
  src/credential-state.ts
  src/tools/helpers/security.test.ts
  src/tools/helpers/security.ts
Due: prettier, eslint, typescript-check

fix: guard browser launch with isSafeWebUrl against shell flag injection (#509)
  src/credential-state.ts
  src/tools/helpers/security.test.ts
  src/tools/helpers/security.ts
Due: prettier, eslint, typescript-check

fix: bump @n24q02m/mcp-core to 1.1.1 for OAuth issuer fix
  bun.lock
  package.json
Due: prettier

fix: bump version to rebuild with mcp-core 1.1.1
  package.json
Due: prettier

chore(release): v2.27.5
  .claude-plugin/plugin.json
  server.json
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  eslint: any of: \.(ts|js)$, but not: ^(build|node_modules|dist)/
  typescript-check: any of: \.(ts|mts|cts)$
