Repository n24q02m/better-notion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

.pre-commit-config.yaml:

# Pre-commit Hooks Configuration
# Installation: https://pre-commit.com/
#
# Quick start:
#   1. Install pre-commit: npm install -g pre-commit
#   2. Install hooks: pre-commit install
#   3. Run manually: pre-commit run --all-files
#
# Bypass checks: git commit --no-verify (use only in emergency)

repos:
  # ============================================================================
  # TypeScript/JavaScript
  # ============================================================================

  # Prettier: Code formatter for JavaScript/TypeScript/JSON
  - repo: local
    hooks:
      - id: prettier
        name: prettier format
        entry: bash -c 'pnpm exec prettier --write "$@"' --
        language: system
        types_or: [javascript, ts, json, markdown, yaml]
        pass_filenames: true

  # ESLint: Linter for JavaScript/TypeScript
  - repo: local
    hooks:
      - id: eslint
        name: eslint lint
        entry: bash -c 'pnpm exec eslint --fix "$@"' --
        language: system
        types: [file]
        files: \.(ts|js)$
        exclude: ^(build|node_modules|dist)/
        pass_filenames: true

  # TypeScript: Type checker
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript type check
        entry: bash -c "pnpm exec tsc --noEmit"
        language: system
        types: [ts]
        pass_filenames: false

  # ============================================================================
  # Common Checks
  # ============================================================================

  # Check for trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        exclude_types: [image]

  # Check for files that would conflict in merge
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: check for merge conflicts

  # Check JSON files are valid
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        name: check JSON files
        types: [json]

  # Check YAML files are valid
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: check YAML files
        types: [yaml]

  # Ensure files end with newline
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        name: fix end of files
        exclude_types: [image]

fix: cap max_instances=1 for CF container cost (solo dev default)
  wrangler.jsonc
Due: none

Add an optional Receipt Required guard to the irreversible block delete
  bun.lock
  package.json
  src/receipt-guard.ts
  src/tools/composite/blocks.ts
  src/tools/registry.ts
  src/types/require-receipt.d.ts
Due: prettier, eslint, typescript-check

Address CodeRabbit review on the Receipt Required delete guard
  README.md
  src/receipt-guard.ts
  src/tools/composite/blocks.ts
  src/tools/registry.ts
  src/types/require-receipt.d.ts
Due: prettier, eslint, typescript-check

Use canonical makeReceiptGate from require-receipt@^0.4.0
  bun.lock
  package.json
  src/receipt-guard.ts
  src/tools/composite/blocks.ts
  src/types/require-receipt.d.ts
Due: prettier, eslint, typescript-check

fix: enforce per-plugin KV key-prefix isolation in Worker proxy
  .jules/sentinel.md
  src/worker.ts
  tests/worker.test.ts
Due: prettier, eslint, typescript-check

fix: remove debug logging exposing sub in HTTP transport
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix: precompute registry RESOURCES/TOOLS for O(1) dispatch
  .jules/bolt.md
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

fix: cover extractUserId error paths
  tests/worker.test.ts
Due: prettier, eslint, typescript-check

fix: single-pass buildSearchFilter to avoid redundant array allocation
  src/tools/composite/databases.ts
Due: prettier, eslint, typescript-check

fix: remove stray empty review_request.txt
  review_request.txt
Due: none

fix: canary Gate-A/B settle-retry to avoid false-fail on slow container startup
  scripts/deploy_cf.py
Due: none

fix: canary Gate-A/B settle-retry to avoid false-fail on slow container startup (#1054)
  scripts/deploy_cf.py
Due: none

fix: add nodejs_compat flag for CF worker bundle (file-uri-to-path require('path'))
  wrangler.jsonc
Due: none

fix: route OAuth /token refresh to the sub's DO to avoid max_instances=1 deadlock
  src/worker.ts
Due: prettier, eslint, typescript-check

fix: collapse OAuth + per-sub routing to one DO (resolve max_instances=1 deadlock)
  src/worker.ts
Due: prettier, eslint, typescript-check

fix: collapse OAuth + per-sub routing to one DO (resolve max_instances=1 deadlock) (#1060)
  src/worker.ts
Due: prettier, eslint, typescript-check

fix: add missing 'import os' to cf_full_flow.py (NameError at module load)
  scripts/cf_full_flow.py
Due: none

fix: add missing import os to cf_full_flow.py (#1061)
  scripts/cf_full_flow.py
Due: none

fix: notion cf_full_flow bootstrap passes Gate A relay-login before /authorize
  scripts/cf_full_flow.py
Due: none

fix: notion cf_full_flow bootstrap passes Gate A relay-login (#1062)
  scripts/cf_full_flow.py
Due: none

fix: green notion main — single-DO worker test + symmetric KV-ready log
  src/transports/http.ts
  tests/worker.test.ts
Due: prettier, eslint, typescript-check

fix: green notion main — single-DO worker test + symmetric KV-ready log (#1063)
  src/transports/http.ts
  tests/worker.test.ts
Due: prettier, eslint, typescript-check

chore(release): v2.35.0-beta.7
  .claude-plugin/plugin.json
  CHANGELOG.md
  package.json
  server.json
Due: prettier

fix: correct AGENTS.md file organization to match current src layout
  AGENTS.md
Due: prettier

fix: bump @n24q02m/mcp-core to 1.18.0-beta.23 for durable delegated-OAuth session state
  bun.lock
  package.json
Due: prettier

fix: bump @n24q02m/mcp-core to 1.18.0-beta.23 for durable delegated-OAuth session state (#1068)
  bun.lock
  package.json
Due: prettier

fix: wire durable KV-backed sessionKv for delegated OAuth on CF deploy
  bun.lock
  package.json
  src/auth/notion-token-store-kv.ts
  src/transports/http.test.ts
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix: wire durable KV-backed sessionKv for delegated OAuth on CF deploy (#1069)
  bun.lock
  package.json
  src/auth/notion-token-store-kv.ts
  src/transports/http.test.ts
  src/transports/http.ts
Due: prettier, eslint, typescript-check

chore(release): v2.35.0-beta.9
  .claude-plugin/plugin.json
  CHANGELOG.md
  package.json
  server.json
Due: prettier

chore(release): v2.35.0
  .claude-plugin/plugin.json
  CHANGELOG.md
  package.json
  server.json
Due: prettier

feat: deploy CF Worker+Container on release from cd.yml
  .github/workflows/cd.yml
  scripts/deploy_cf.py
  wrangler.deploy.template.jsonc
Due: prettier

fix: bump mcp-core to 1.18.1
  bun.lock
  package.json
Due: prettier

fix: bump mcp-core to 1.18.1 (#1073)
  bun.lock
  package.json
Due: prettier

chore(release): v2.36.0
  .claude-plugin/plugin.json
  CHANGELOG.md
  package.json
  server.json
Due: prettier

fix: use placeholders for PUBLIC_URL and routes in wrangler.jsonc (BYO-generic)
  wrangler.jsonc
Due: none

fix: substitute PUBLIC_URL placeholder in cf-deploy.mjs and assert no leftover placeholders
  scripts/cf-deploy.mjs
Due: prettier

fix: require PUBLIC_URL env only when wrangler.jsonc carries the placeholder
  scripts/cf-deploy.mjs
Due: prettier

fix: clarify Workers Paid plan is required for Containers in Cloudflare deploy prerequisites
  README.md
Due: prettier

fix: assert BYO placeholder route in wrangler-config test
  tests/wrangler-config.test.ts
Due: prettier, eslint, typescript-check

fix: avoid spread operator for large array appends in autoPaginate
  .jules/bolt.md
  src/tools/helpers/pagination.ts
Due: prettier, eslint, typescript-check
