Repository n24q02m/better-notion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

prettier:
  name: prettier format
  entry: bash -c 'pnpm exec prettier --write "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint lint
  entry: bash -c 'pnpm exec eslint --fix "$@"' --
  language: system
  pass_filenames: true

typescript-check:
  name: typescript type check
  entry: bash -c "pnpm exec tsc --noEmit"
  language: system
  pass_filenames: false

feat: split block handlers into typed helpers with discriminated-union returns
  src/tools/composite/blocks.test.ts
  src/tools/composite/blocks.ts
  src/tools/registry.test.ts
Due: prettier, eslint, typescript-check

fix: redact unsanitized input echoed in validation error path
  src/tools/helpers/errors.test.ts
  src/tools/helpers/errors.ts
Due: prettier, eslint, typescript-check

feat: add @cloudflare/containers dependency for CF worker
  bun.lock
  package.json
Due: prettier

feat: bump mcp-core to 1.18.0-beta.5 floor for CfKv and EdDSA seam
  bun.lock
  package.json
  tests/mcp-core-pin.test.ts
Due: prettier, eslint, typescript-check

feat: add CF worker fronting per-sub Notion container with KV outbound
  bun.lock
  package.json
  src/worker.ts
  tests/cloudflare-workers-stub.ts
  tests/worker.test.ts
  tsconfig.json
  tsconfig.worker.json
  vitest.config.ts
Due: prettier, eslint, typescript-check

feat: add wrangler config with KV-only bindings and EdDSA secret wiring
  tests/wrangler-config.test.ts
  wrangler.jsonc
Due: prettier, eslint, typescript-check

feat: document and verify CREDENTIAL_SECRET EdDSA signing for CF deploy
  src/transports/http.cf.test.ts
  src/transports/http.ts
Due: prettier, eslint, typescript-check

feat: regression-guard per-sub isolation and eviction-safe lock refresh
  src/transports/http.cf.test.ts
Due: prettier, eslint, typescript-check

fix: isolate CF worker type-check with workers-types and esModuleInterop
  src/transports/http.cf.test.ts
  tsconfig.worker.json
Due: prettier, eslint, typescript-check

feat: add NotionTokenStoreLike interface for interchangeable token stores
  src/auth/notion-token-store.test.ts
  src/auth/notion-token-store.ts
Due: prettier, eslint, typescript-check

fix: bump mcp-core to 1.18.0-beta.7 for storage barrel subpath export
  bun.lock
  package.json
Due: prettier

feat: select KV token store for cf-kv backend in http transport
  src/transports/http.cf.test.ts
  src/transports/http.ts
Due: prettier, eslint, typescript-check

feat: add KV write-through Notion token store via PerPluginStore
  src/auth/notion-token-store-kv.test.ts
  src/auth/notion-token-store-kv.ts
Due: prettier, eslint, typescript-check

feat: add Cloudflare deploy template and README section
  README.md
  docker-compose.cloudflare.yml
Due: prettier

feat: cloudflare serverless migration (Worker + Container + KV write-through) (#973)
  README.md
  bun.lock
  docker-compose.cloudflare.yml
  package.json
  src/auth/notion-token-store-kv.test.ts
  src/auth/notion-token-store-kv.ts
  src/auth/notion-token-store.test.ts
  src/auth/notion-token-store.ts
  src/transports/http.cf.test.ts
  src/transports/http.ts
  src/worker.ts
  tests/cloudflare-workers-stub.ts
  tests/mcp-core-pin.test.ts
  tests/worker.test.ts
  tests/wrangler-config.test.ts
  tsconfig.json
  tsconfig.worker.json
  vitest.config.ts
  wrangler.jsonc
Due: prettier, eslint, typescript-check

chore(release): v2.35.0-beta.1
  .claude-plugin/plugin.json
  CHANGELOG.md
  package.json
  server.json
Due: prettier

feat: deploy notion to Cloudflare at notion.n24q02m.com
  .gitignore
  CLAUDE.md
  PRIVACY.md
  scripts/cf_full_flow.py
  server.json
  src/worker.ts
  tests/live/full-notion.full.test.ts
  tests/worker.test.ts
  tests/wrangler-config.test.ts
  wrangler.jsonc
Due: prettier, eslint, typescript-check

feat: deploy notion to Cloudflare at notion.n24q02m.com (#975)
  .gitignore
  CLAUDE.md
  PRIVACY.md
  scripts/cf_full_flow.py
  server.json
  src/worker.ts
  tests/live/full-notion.full.test.ts
  tests/worker.test.ts
  tests/wrangler-config.test.ts
  wrangler.jsonc
Due: prettier, eslint, typescript-check

fix: persist per-sub Notion token to KV so it survives container recreate
  src/auth/notion-token-store-kv.test.ts
  src/auth/notion-token-store-kv.ts
  src/auth/notion-token-store.ts
  src/transports/http.cf.test.ts
  src/transports/http.test.ts
  src/transports/http.ts
Due: prettier, eslint, typescript-check

fix: forward MCP_RELAY_PASSWORD into CF container so Gate A is enforced
  src/worker.ts
  tests/worker.test.ts
  wrangler.jsonc
Due: prettier, eslint, typescript-check

fix: forward MCP_RELAY_PASSWORD into CF container so Gate A is enforced (#977)
  src/worker.ts
  tests/worker.test.ts
  wrangler.jsonc
Due: prettier, eslint, typescript-check

fix: reject path traversal in resource read via DOCS_DIR boundary check
  .jules/sentinel.md
  src/tools/registry.test.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

feat: add post-deploy canary gate with auto-rollback to deploy_cf.py
  scripts/deploy_cf.py
Due: none

fix: prefix unused account var to satisfy RUF059
  scripts/deploy_cf.py
Due: none

fix: add post-deploy canary gate with auto-rollback to deploy_cf.py
  scripts/deploy_cf.py
Due: none

fix: make canary gate utf-8-safe (decode+encode) and Cloudflare-UA-aware
  scripts/deploy_cf.py
Due: none

fix: use contextlib.suppress for stdout reconfigure (SIM105)
  scripts/deploy_cf.py
Due: none

fix: neutral default endpoint + env-first secrets in CF self-host scripts
  scripts/cf_full_flow.py
  scripts/deploy_cf.py
Due: none

⚡ Bolt: Optimize property extraction hot paths (#991)
  .jules/bolt.md
  src/tools/composite/pages.ts
  src/tools/helpers/properties.ts
Due: prettier, eslint, typescript-check

fix: cross-platform DOCS_DIR containment for path traversal guard
  .jules/sentinel.md
  src/tools/registry.test.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

fix: cross-platform DOCS_DIR containment for path traversal guard (#992)
  .jules/sentinel.md
  src/tools/registry.test.ts
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

fix: right-size CF container to cut GiB-second cost
  src/transports/http.cf.test.ts
  src/worker.ts
  wrangler.jsonc
Due: prettier, eslint, typescript-check

fix: add cf:deploy script for live wrangler deploy
  .gitignore
  package.json
  scripts/cf-deploy.mjs
Due: prettier

fix: drop env-derived value from cf_deploy log (CodeQL js/clear-text-logging)
  scripts/cf-deploy.mjs
Due: prettier

fix: add cf:deploy script for live wrangler deploy (#996)
  .gitignore
  package.json
  scripts/cf-deploy.mjs
Due: prettier

fix: correct README + metadata to match current code
  .claude-plugin/plugin.json
  CLAUDE.md
  README.md
  server.json
  src/tools/registry.ts
Due: prettier, eslint, typescript-check

fix: pin CF container max_instances to 3
  wrangler.jsonc
Due: none

fix: pin CF container max_instances to 3 (#1000)
  wrangler.jsonc
Due: none

fix: bump mcp-core to 1.18.0b19 (relay model-search catalog + OAuth refresh-TTL)
  bun.lock
  package.json
Due: prettier

fix: bump mcp-core to 1.18.0b19 (relay model-search catalog + OAuth refresh-TTL) (#1001)
  bun.lock
  package.json
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  eslint: any of: \.(ts|js)$, but not: ^(build|node_modules|dist)/
  typescript-check: any of: \.(ts|mts|cts)$
